/* 
   CSS 
   @author: Alex Mark
   @date: 5/22/13
   
*/

/******************/
/* Media Queries */
/******************/

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1025px) {
		#main {
			width: 55%;
			height: auto;
			padding: 8% 0 0 12%;
		}
		#main .text-wrap {
			width: 100%;
			height: auto;
		}
		#side{
			position: fixed;
			width: 30%;
			right: 2%;
			top: 18%;
		}
		#portfolio-page {
  		padding: 8% 0 0 4%;
			width: 100%;
		}
		#logo {
			position: absolute;
			padding-top: 5%;
			cursor: pointer;
			left: -10%;
  		opacity: 0.7;
		}
		#nav {
			position: absolute;
			float: right;
			right: -9%;
			padding-top: 7%;
		}
		.project-item {
  		float:left;
  		padding-right: 2em;
  		padding-bottom: 2em;
			width: 45%;
		}
		.project-box {
  		cursor: pointer;
  		float: left;
  		margin: 0px;
		}

		.project-box h3 {
  		cursor: pointer;
  		line-height: 12px;
  		margin: 0;
		}

		.project-box h3 a {
  		display: inline-block;
  		background: url(../images/label.png) top left no-repeat;
  		font-size: 14px;
  		font-weight: bold;
  		line-height: 46px;
  		font-weight: lighter;
  		padding: 0em 2em 1em 1em;
  		position: absolute;
  		color: white;
  		margin-left: -1.5%;
  		margin-top: 15%;
		}

		.project-box h3 a:hover {
  		background: url(../images/label-alt.png) top left no-repeat;
		}

		.project-box a img {
  		width: 100%;
  		border:1px solid rgba(0,0,0,0.18);
		}
		#wrapper {
			border: 1px solid rgba(0,0,0,0.18);
			margin-bottom: 5em;
			border-radius: 5px;
			background-color: #FAFAFA;
		}
		#skitter {
			position: absolute; 
			left: 55%;
			padding-bottom: 20em;
		}
		#skitter-wide { 
			position: absolute;
			left: 10%;
			padding-bottom: 20em; 
		}
}

/* Small screens ----------- */
@media only screen 
and (min-width : 767px) 
and (max-width : 1223px) {
		#main {
			width: 55%;
			height: auto;
			padding: 8% 0 0 12%;
		}
		#main .text-wrap {
			width: 100%;
			height: auto;
		}
		#side{
			position: fixed;
			width: 30%;
			right: 2%;
			top: 18%;
		}
	
		#portfolio-page {
  		padding: 8% 0 0 4%;
			width: 100%;
		}
	
		#nav {
			position: absolute;
			float: right;
			right: -9%;
			padding-top: 7%;
		}
		#logo {
			position: absolute;
			padding-top: 5%;
			cursor: pointer;
			left: -10%;
  		opacity: 0.7;
		}
		.project-item {
  			float:left;
  			padding-right: 2em;
  			padding-bottom: 2em;
				width: 45%;
		}
	
		.project-box {
  		cursor: pointer;
  		float: left;
  		margin: 0px;
		}

		.project-box h3 {
  		cursor: pointer;
  		line-height: 12px;
  		margin: 0;
		}

		.project-box h3 a {
  		display: inline-block;
  		background: url(../images/label.png) top left no-repeat;
  		font-size: 14px;
  		font-weight: bold;
  		line-height: 46px;
  		font-weight: lighter;
  		padding: 0em 2em 1em 1em;
  		position: absolute;
  		color: white;
  		margin-left: -1.5%;
  		margin-top: 15%;
		}

		.project-box h3 a:hover {
  		background: url(../images/label-alt.png) top left no-repeat;
		}

		.project-box a img {
  		width: 100%;
  		border:1px solid rgba(0,0,0,0.18);
		}
		#wrapper {
			border: 1px solid rgba(0,0,0,0.18);
			margin-bottom: 5em;
			border-radius: 5px;
			background-color: #FAFAFA;
		}
		#skitter {
			position: absolute; 
			left: 55%;
			padding-bottom: 20em;
		}
		#skitter-wide { 
			position: absolute;
			left: 10%;
			padding-bottom: 20em; 
		}
}

/* Desktops & Laptops ----------- */
@media only screen 
and (min-width : 1223px) and (max-width : 1599px) {
		#main {
			width: 55%;
			height: auto;
			padding: 8% 0 0 12%;
		}
		#main .text-wrap {
			width: 100%;
			height: auto;
		}
		#side{
			position: fixed;
			width: 30%;
			right: 2%;
			top: 18%;
		}
	
		#portfolio-page {
  		padding: 8% 0 0 10%;
			width: 92%;
		}
	
		#nav {
			position: absolute;
			float: right;
			right: -1%;
			padding-top: 5%;
		}
		#logo {
			position: absolute;
			padding-top: 5%;
			cursor: pointer;
			left: -10%;
  		opacity: 0.7;
		}
		.project-item {
  		float:left;
  		padding-right: 2em;
  		padding-bottom: 2em;
			width: 45%;
		}

		.project-box {
  		cursor: pointer;
  		float: left;
  		margin: 0px;
		}

		.project-box h3 {
  		cursor: pointer;
  		line-height: 12px;
  		margin: 0;
		}

		.project-box h3 a {
  		display: inline-block;
  		background: url(../images/label.png) top left no-repeat;
  		font-size: 14px;
  		font-weight: bold;
  		line-height: 46px;
  		font-weight: lighter;
  		padding: 0em 2em 1em 1em;
  		position: absolute;
  		color: white;
  		margin-left: -.8em;
  		margin-top: 10.6em;
		}

		.project-box h3 a:hover {
  		background: url(../images/label-alt.png) top left no-repeat;
		}

		.project-box a img {
  		width: 27em;
  		height: 18em;
  		border:1px solid rgba(0,0,0,0.18);
		}
		#wrapper {
			border: 1px solid rgba(0,0,0,0.18);
			margin-bottom: 5em;
			border-radius: 5px;
			background-color: #FAFAFA;
		}
		#skitter {
			position: absolute; 
			left: 55%;
			padding-bottom: 20em;
		}
		#skitter-wide { 
			position: absolute;
			left: 15%;
			padding-bottom: 20em; 
		}
}

/* Medium Screens ----------- */
@media only screen 
and (min-width : 1600px) and (max-width : 1900px) {
		#main {
			width: 55%;
			height: auto;
			padding: 8% 0 0 23%;
		}
		#main .text-wrap {
			width: 80%;
			height: auto;
		}
		#side{
			position: fixed;
			width: 24%;
			right: 7%;
			top: 20%;
		}
	
		#portfolio-page {
  		padding: 8% 0 0 20%;
			width: 92%;
		}
	
		#nav {
			position: absolute;
			float: right;
			right: 3%;
			padding-top: 5%;
		}
		#logo {
			position: absolute;
			padding-top: 5%;
			cursor: pointer;
			left: 5%;
  		opacity: 0.7;
		}
		.project-item {
  		float:left;
  		padding-right: 0em;
  		padding-bottom: 2em;
			width: 39%;
		}

		.project-box {
  		cursor: pointer;
  		float: left;
  		margin: 0px;
		}

		.project-box h3 {
  		cursor: pointer;
  		line-height: 12px;
  		margin: 0;
		}

		.project-box h3 a {
  		display: inline-block;
  		background: url(../images/label.png) top left no-repeat;
  		font-size: 14px;
  		font-weight: bold;
  		line-height: 46px;
  		font-weight: lighter;
  		padding: 0em 2em 1em 1em;
  		position: absolute;
  		color: white;
  		margin-left: -.8em;
  		margin-top: 10.6em;
		}

		.project-box h3 a:hover {
  		background: url(../images/label-alt.png) top left no-repeat;
		}

		.project-box a img {
  		width: 27em;
  		height: 18em;
  		border:1px solid rgba(0,0,0,0.18);
		}
		#wrapper {
			border: 1px solid rgba(0,0,0,0.18);
			margin-bottom: 5em;
			border-radius: 5px;
			background-color: #FAFAFA;
			width: 83%;
		}
		#skitter {
			position: absolute; 
			left: 55%;
			padding-bottom: 20em;
		}
		#skitter-wide { 
			position: absolute;
			left: 30%;
			padding-bottom: 20em; 
		}
}

/* Large Screens ----------- */
@media only screen 
and (min-width : 1900px) {
		#main {
			width: 55%;
			height: auto;
			padding: 8% 0 0 25%;
		}
		#main .text-wrap {
			width: 72%;
			height: auto;
		}
		#side{
			position: fixed;
			width: 18%;
			right: 13%;
			top: 25%;
		}
		#portfolio-page {
  		padding: 8% 0 0 19%;
			width: 65%;
		}
	
		#nav {
			position: absolute;
			float: right;
			right: 7%;
			padding-top: 5%;
		}
	
		#logo {
			position: absolute;
			padding-top: 5%;
			cursor: pointer;
			left: 5%;
  		opacity: 0.7;
		}

		.project-item {
  		float:left;
  		padding-right: 2em;
  		padding-bottom: 2em;
			width: 32%;
		}

		.project-box {
  		cursor: pointer;
  		float: left;
  		margin: 0px;
		}

		.project-box h3 {
  		cursor: pointer;
  		line-height: 12px;
  		margin: 0;
		}

		.project-box h3 a {
  		display: inline-block;
  		background: url(../images/label.png) top left no-repeat;
  		font-size: 14px;
  		font-weight: bold;
  		line-height: 46px;
  		font-weight: lighter;
  		padding: 0em 2em 1em 1em;
  		position: absolute;
  		color: white;
  		margin-left: -.8em;
  		margin-top: 10.6em;
		}

		.project-box h3 a:hover {
  		background: url(../images/label-alt.png) top left no-repeat;
		}

		.project-box a img {
  		width: 27em;
  		height: 18em;
  		border:1px solid rgba(0,0,0,0.18);
		}
		#wrapper {
			border: 1px solid rgba(0,0,0,0.18);
			margin-bottom: 5em;
			border-radius: 5px;
			background-color: #FAFAFA;
			width: 70%;
		}
		#skitter {
			position: absolute; 
			left: 55%;
			padding-bottom: 20em;
		}
		#skitter-wide { 
			position: absolute;
			left: 30%;
			padding-bottom: 20em; 
		}
}

/******************/
/* Default CSS */
/******************/

body {
	font-family:'Merriweather Sans', sans-serif;
	background: #F8F8F8;
	font-size: 12px;
	line-height: 1.4em;
	overflow-y: scroll;
	width: 100%;
}

body.index-first {
	display: none;
}
/******************/
/* Type */
/******************/

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.5em;
    color: #4C4C4E;
    margin-bottom: 1em;
    line-height: 1.3em;
    font-weight: lighter;
}

h1 span {
    font-family: 'Merriweather Sans', sans-serif;
    color: #8D172F;
    font-weight: lighter;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
    color: #4C4C4E;
    margin-bottom: 1em;
    font-weight: lighter;
}

h2 span {
	color: #8D172F;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #4C4C4E;
    font-weight: lighter;
}

h3 span {
    font-family: 'Merriweather Sans', sans-serif;
    color: #8D172F;
    font-weight: lighter;
}

h4 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #8D172F;
    font-weight: lighter;
}

h5 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: lighter;
    color: #4C4C4E;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
    line-height: 2em;
    font-weight: lighter;
    color: #4C4C4E;
}

p span {
    color: #8D172F;
}

a {
  color: #8D172F;
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
	color: gray;
}
/*
a:visited {
  color: #8D172F;
}
*/

br {
  line-height: 3em;
}

.skills {
	float: left;
	margin-right: 3em;
}

li {
	font-weight: lighter; 
}
/******************/
/* Header */
/******************/

#header {
/*	background-color: #E5E5E5;*/
	position: fixed;
	height: 50px;
	width: 78%;
  z-index: 999;
	left:12%
}

#header.alt {
	position: relative;
}

#social {
	position: absolute;
	float: right;
	width: 200px;
	right: 10px;
}

/*
#nav {
	position: absolute;
	float: right;
	right: 0%;
	padding-top: 5%;
}
*/

#nav ul {

}

#nav li {
	display: inline;
	padding: 0 30px 0 0;
}

#nav a {
	color: #4C4C4E;
	text-decoration: none;
	font-weight: lighter;
	font-size: 1.2em;
	padding: 0 0 1.4em 0;
}

/*#nav a:hover {
	color: #8D172F;
}*/

#nav a.focus  {
	color: #8D172F;
	border-bottom: 1px solid #8D172F;
}

/******************/
/* Media */
/******************/

/*
#logo {
	position: absolute;
	padding-top: 5%;
	cursor: pointer;
	left: -10%;
  opacity: 0.7;
}
*/

#logo:hover {
  opacity: 1;
}

#logo img {
	height: 1.5em;
	width: auto;
}

/******************/
/* Homepage Main */
/******************/

/*
#main {
	width: 55%;
	height: auto;
	padding: 8% 0 0 12%;
}
*/

/*
#main .text-wrap {
	width: 100%;
	height: auto;
}
*/

.section-info {
  width: 50%;
  padding-right:1em;
  position: relative;
  float: left;
}

#goldengate {
	position: relative; 
	float: right;
	left: 3em;
}

#bny {
  position: relative;
	float: right;
	margin: -1em 6em 0 2em;
	width: 15%;	
}

.text-body {
	position: relative;
	float: left;
	margin-bottom: 5em;
}

/******************/
/* Resume */
/******************/

/*
#wrapper {
	border: 1px solid rgba(0,0,0,0.18);
	margin-bottom: 5em;
	border-radius: 5px;
	background-color: #FAFAFA;
}
*/

.rbox {
	padding: 3em;
	z-index: 999;
	margin-right: 1em;
}

.rbox h3 {
	font-size: 1.0em;
	font-weight: lighter;
	float: left;
  margin-top: 0.2em;
	color: #AAA;
}

.rbox h4 {
	padding-left: 9em;
}

.rbox h5 {
	padding-left: 11.7em;
	color: #AAA;
	font-size: 1em;
}

.rbox p {
	padding-top: 2em;
  padding-left: 11.6em;
	font-size: 1em;
}

.larger {
	width: 100% !important;
}

.skills {
    float: left;
}

/******************/
/* Homepage&Resume Sidebar */
/******************/

/*
#side{
	position: fixed;
	width: 30%;
	right: 2%;
	top: 18%;
}
*/

#side .profile {
	position: relative;
	background-image: url(../images/profile.jpg); 
	background-position: bottom; 												
	background-size: 120%; 
	left: 7em;
	width: 12em;
	height: 12em;
  border: 1px solid rgba(0,0,0,0.18);
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(images/profile.jpg) no-repeat;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
	}

.subprofile {
  padding-left: 8.5em; 
}

#side .subprofile h3 {
  position: relative;
}

/*
#side::before {
	content:"";
	position: absolute;
	top: -5%;
	bottom: 20%;
	left: -1px;
	width: 1px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227,224,216,0)), color-stop(20%, #e3e0d8), color-stop(80%, #e3e0d8), color-stop(100%, rgba(227,224,216,0)));
	background: -webkit-linear-gradient(top, rgba(227,224,216,0) 0%,#e3e0d8 20%,#e3e0d8 80%,rgba(227,224,216,0) 100%);
	background: -moz-linear-gradient(top, rgba(227,224,216,0) 0%,#e3e0d8 20%,#e3e0d8 80%,rgba(227,224,216,0) 100%);
	background: -o-linear-gradient(top, rgba(227,224,216,0) 0%,#e3e0d8 20%,#e3e0d8 80%,rgba(227,224,216,0) 100%);
	background: linear-gradient(top, rgba(227,224,216,0) 0%,#e3e0d8 20%,#e3e0d8 80%,rgba(227,224,216,0) 100%);
}
*/

#side .button h3{
	position: relative;
	left: 7em;
}

#side .button {
	font-family: 'Merriweather Sans', sans-serif;
	position: absolute;
	background: #8D172F;
	border-radius: 0.5em;
	padding: 0 3em;
	text-decoration: none;
	border: 1px solid rgba(0,0,0,0.18);
  top: 1em;
	left: 4.4em;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: white;
  opacity: 0.8;
  font-weight: lighter;
}

#side .button:hover {
  opacity: 0.7;
}

.info h5{
  position: relative;
  top: 6em;
  left: 4.6em;
}

.info h3{
  position: relative;
  top: 6em;
  left: 4.3em;
}

#side li{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: lighter;
  color: #4C4C4E;
  left: 5.2em;
  top: 8em;
  position:relative;
}

#side a {
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 2em;
	font-size: 1.2em;
}

#bio,#hobies,#news {
  line-height: 2em;
} 

#portfolio,#top,#bio,#hobbies,#news:hover {
  cursor: pointer;
}

.scroll {
  font-weight: lighter;
  font-size: 1.2em;
  color: #8D172F;
}

.link-small {
  position: absolute;
  font-size: 0.8em !important;
  left: 7em;
  top: 5em;
	color: #4C4C4E;
}

#side br {
	line-height: 1.5em;
}

/******************/
/* Contact */
/******************/

#contact-main {
	position: fixed;
	width: 55%;
	height: auto;
	background: #FAFAFA;
	border: 1px solid rgba(0,0,0,0.18);
	border-radius: 5px;
	left: 12em;
	top: 9em;
}

#gmail {
  opacity: 0.6;
	width: 25%;
	float: left;
	padding-left: 12em;
  padding-bottom: 1em;
	float: left;
	position: relative;
}

form {
  padding: 3em 0 2em 2.7em;
  font-size: 1.3em;
  line-height: 2em;
}

textarea {
  width: 80%;
  height: 15em;
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 5px;
  margin-top: 1em;
}

input {
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 5px;
  height: 1.8em;
  width: 13em;
  margin-right: 2em;
}

.field {
  float: left;
}

input[type='submit'] {
  width: 10em;
  height: 2em;
  font-family:'Merriweather Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
  background: #8D172F;
  margin-top: 1em;
  color: white;
  opacity: 0.8;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.textbox-small {
  width: 20em;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 5em;
  margin-right: 4em;
}

/******************/
/* Portfolio */
/******************/

#portfolio-main {
  position: relative;
	float: left; 
	margin-bottom: 5em;
	width: 103%
}

#portfolio-main .wrap {
  width: 100%;
  height: 100%;
}

/*
#portfolio-page {
  padding: 8% 0 0 6%;
	width: 92%;
}
*/

/*
.project-item {
  float:left;
  padding-right: 2em;
  padding-bottom: 2em;
	width: 45%;
}
*/

/*
.project-item {
  float:left;
  padding-right: 2em;
  padding-bottom: 2em;
}

.project-box {
  cursor: pointer;
  float: left;
  margin: 0px;
}

.project-box h3 {
  cursor: pointer;
  line-height: 12px;
  margin: 0;
}

.project-box h3 a {
  display: inline-block;
  background: url(../images/label.png) top left no-repeat;
  font-size: 14px;
  font-weight: bold;
  line-height: 46px;
  font-weight: lighter;
  padding: 0em 2em 1em 1em;
  position: absolute;
  color: white;
  margin-left: -.8em;
  margin-top: 10.6em;
}

.project-box h3 a:hover {
  background: url(../images/label-alt.png) top left no-repeat;
}

.project-box a img {
  width: 27em;
  height: 18em;
  border:1px solid rgba(0,0,0,0.18);
}
*/

/******************/
/* ARL Portfolio Page */
/******************/

#portfolio-page {
  margin-bottom: 17em;
}

#portfolio-page p {
  font-size:1.1em;
}

.text-box {
  width: 28em;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 5em;
  margin-right: 4em;
}

.mainimage-box {
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 5px;
  position: relative;
  float: left;
  background-color: #FAFAFA;
  margin-bottom: 4em;
  margin-right:3.5em;
}

.mainimage-box img {
  margin:1.5em;
  width:25em;
  height:auto;
}

.mainimage-box h2 {
  text-align: center;
  margin-bottom: 0em;
  margin-top: 0.5em;	
  line-height: 2em;
}

#subsection {
  position: relative;
  padding-bottom: 5em;
}

#subsection li {
  float: left;
  width: 28.2em;
  padding-right: 3.5em;
}

.image-box {
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 5px;
  position: relative;
  background-color: #FAFAFA;
  margin-bottom: 10em;
}

.image-box img {
  margin:1.5em;
  width:25em;
  height:auto;
}

.image-box h2 {
  text-align:center;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

/******************/
/* AMKS Portfolio Page */
/******************/

.textbox-wide {
	width: 37em;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 5em;
  margin-right: 4em;
}

.large-link {
	font-size: 2em;
	line-height: 1.5em;
}
/******************/
/* Gesalt Portfolio Page */
/******************/

/*
#skitter {
	position: absolute; 
	left: 50%;
	padding-bottom: 20em;
}
*/

/******************/
/* Ukebook Portfolio Page */
/******************/

/*#skitter-wide { 
	position: absolute;
	left: 10%;
	top: 40em;
	padding-bottom: 20em; 
}*/